.form-wrapper {
  background-color: #f6f6f6;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f6f6f6),
    to(#eae8e8)
  );
  background-image: -webkit-linear-gradient(right, #f6f6f6, #eae8e8);
  background-image: -moz-linear-gradient(right, #f6f6f6, #eae8e8);
  background-image: -ms-linear-gradient(right, #f6f6f6, #eae8e8);
  background-image: -o-linear-gradient(right, #f6f6f6, #eae8e8);
  background-image: linear-gradient(right, #f6f6f6, #eae8e8);
  border-color: #dedede #9c3c3c #aaa #bababa;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 3px rgba(255, 255, 255, 0.1), 0 3px 0 #bbb,
    0 4px 0 #aaa, 0 5px 5px #444;
  -moz-box-shadow: 0 3px 3px rgba(255, 255, 255, 0.1), 0 3px 0 #bbb,
    0 4px 0 #aaa, 0 5px 5px #444;
  box-shadow: 0 3px 3px rgba(255, 255, 255, 0.1), 0 3px 0 #bbb, 0 4px 0 #aaa,
    0 5px 5px #444;
  margin: 10px auto;
  overflow: hidden;
  padding: 8px;
  width: 270px;
  position: relative;
  top: -10px;
  left: 50px;
}
.form-wrapper .form-control-input {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
  box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #999;
  float: left;
  font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
  height: 20px;
  padding: 10px;
  width: 220px;
}
.form-wrapper .form-control-input:focus {
  border-color: #aaa;
  -webkit-box-shadow: 0 1px 1px #bbb inset;
  -moz-box-shadow: 0 1px 1px #bbb inset;
  box-shadow: 0 1px 1px #bbb inset;
  outline: 0;
}
.form-wrapper .form-control-input:-moz-placeholder,
.form-wrapper .form-control-input:-ms-input-placeholder,
.form-wrapper .form-control-input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
}
.form-wrapper #search {
  position: relative;
  left: 10px;
  background-color: #0483a0;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#31b2c3),
    to(#0483a0)
  );
  background-image: -webkit-linear-gradient(right, #31b2c3, #0483a0);
  background-image: -moz-linear-gradient(right, #31b2c3, #0483a0);
  background-image: -ms-linear-gradient(right, #31b2c3, #0483a0);
  background-image: -o-linear-gradient(right, #31b2c3, #0483a0);
  background-image: linear-gradient(right, #31b2c3, #0483a0);
  border: 1px solid #00748f;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
  color: #fafafa;
  cursor: pointer;
  height: 30px;
  font: 12px Arial, Helvetica;
  padding: 5px;
  margin: 5px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
