.Photos img {
  position: relative;
  left: 20px;
  border-radius: 6px;
  margin: 5px 0;
}
.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.photo-grid img {
  max-width: 100%;
  height: auto;
}
